/* Badges
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900);
.badge-default {
  background-color: #2B384C; }
  .badge-default[href]:hover, .badge-default[href]:focus {
    background-color: #19202b; }

.badge-primary {
  background-color: #00b8ce; }
  .badge-primary[href]:hover, .badge-primary[href]:focus {
    background-color: #008a9b; }

.badge-secondary {
  background-color: #ef4040; }
  .badge-secondary[href]:hover, .badge-secondary[href]:focus {
    background-color: #e91313; }

.badge-success {
  background-color: #22b66f; }
  .badge-success[href]:hover, .badge-success[href]:focus {
    background-color: #1a8b55; }

.badge-info {
  background-color: #2196d4; }
  .badge-info[href]:hover, .badge-info[href]:focus {
    background-color: #1a77a8; }

.badge-warning {
  background-color: #F3C111; }
  .badge-warning[href]:hover, .badge-warning[href]:focus {
    background-color: #c79d0a; }

.badge-danger {
  background-color: #EF193C; }
  .badge-danger[href]:hover, .badge-danger[href]:focus {
    background-color: #c70e2c; }

.badge-bordered {
  color: #585858;
  font-weight: 600;
  text-transform: uppercase;
  border: solid 1px #585858;
  background-color: transparent;
  padding: 4px 10px; }

