/* Carousel
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900);
.carousel-footer {
  overflow: hidden;
  margin-bottom: 5px; }

.carousel-footer > strong {
  line-height: 1.75; }

.carousel-controller {
  float: left;
  margin-right: 12px; }

.carousel-controller a.btn-carousel {
  color: #FFFFFF;
  background-color: #00b8ce;
  float: left;
  padding: 2px 6px; }

.carousel-controller a.btn-carousel:hover {
  background-color: #585858;
  color: #FFFFFF; }

.carousel-footer.top-space {
  margin-top: 25px; }

