/* Forms
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900);
form {
  margin-bottom: 15px; }

.form-group-inner {
  margin-bottom: 10px; }

.form-control {
  height: 32px;
  color: #0f1722;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #00b8ce; }

.form-control::-moz-placeholder {
  color: #0f1722; }

.form-control:-ms-input-placeholder {
  color: #0f1722; }

.form-control::-webkit-input-placeholder {
  color: #0f1722; }

.form-control.field-file {
  height: auto;
  padding: 3px 12px; }

.input-sm {
  height: 26px;
  padding: 3px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

select.input-sm {
  height: 26px;
  line-height: 26px; }

.input-lg {
  height: 45px; }

.textare-lg {
  font-size: 18px; }

.form-label {
  display: block;
  font-weight: 300;
  margin-bottom: 8px; }

.checkbox-group {
  margin: 8px 0; }

.checkbox-group .checkbox-inline + .checkbox-inline {
  margin-left: 18px; }

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #22b66f; }

.has-success .form-control {
  border-color: #22b66f;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .has-success .form-control:focus {
    border-color: #1a8b55;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.has-success .input-group-addon {
  color: #22b66f;
  border-color: #22b66f;
  background-color: #22b66f; }

.has-success .form-control-feedback {
  color: #22b66f; }

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #F3C111; }

.has-warning .form-control {
  border-color: #F3C111;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .has-warning .form-control:focus {
    border-color: #c79d0a;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.has-warning .input-group-addon {
  color: #F3C111;
  border-color: #F3C111;
  background-color: #F3C111; }

.has-warning .form-control-feedback {
  color: #F3C111; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #ef193c; }

.has-error .form-control {
  border-color: #ef193c;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .has-error .form-control:focus {
    border-color: #c70e2c;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.has-error .input-group-addon {
  color: #ef193c;
  border-color: #ef193c;
  background-color: #ef193c; }

.has-error .form-control-feedback {
  color: #ef193c; }

