/* Icons
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900);
.icons-showcase > div {
  cursor: pointer;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.icons-showcase > div:hover {
  background-color: #00b8ce;
  color: #FFF; }
  .icons-showcase > div:hover .text-muted {
    color: #FFF; }

.icons-showcase > div > i {
  margin-right: 10px;
  text-align: center; }

.glyphicon {
  vertical-align: middle; }

.icon-2x {
  font-size: 2.2em; }

.icon-larger,
.panel-tool-options .icon-2x {
  font-size: 18px; }

/*Social link Style*/
.social-link {
  list-style: none;
  padding-left: 0;
  margin: 0 -5px !important;
  overflow: hidden; }
  .social-link li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0 5px;
    font-size: 18px; }

